<!DOCTYPE html>
<html>
<head>
   <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="mainboard">
            <h1>wellcome to ejs , express</h1>
            <p><%= title %> dang thu</p>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>