<!DOCTYPE html>
<html>
<head>
   <% include ../../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../../partials/header %>
    </header>
    <main>
        <div class="row">
           <h4>Thêm user mới</h4>
            <div class="col-sm-12">
                <form method="post" action="/users/user_create">
                    <label>Enter Your Name</label><br>
                    <input type="text" name="name" placeholder="Enter first name..." required>
                    <input type="text" name="email" placeholder="Enter email..." required>
                    <input type="text" name="phone" placeholder="Enter phone..." required>
                    <input type="submit" value="Add Name">
                </form>
                <br/>
            </div>
            <br><br><br>
          <h4>Danh Sách User</h4>
            <table class="table col-sm-12">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                </tr>
                </thead>
                <tbody>
                <% $j=1;
                   result.forEach(function(item){  %>  
                <tr>
                    <th scope="row"><%= $j++ %></th>
                    <td><%= item.name %></td>
                    <td><%= item.email %></td>
                    <td><%= item.phone %></td>
                </tr>
                <% });%>
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        <% include ../../partials/footer %>
    </footer>
</body>
</html>