<!DOCTYPE html>
<html>
<head>
   <% include ../../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../../partials/header %>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-12">
                <h4>Thêm topic mới</h4>
                <form action="/add" name="forma" method="POST">                    
                    <div class="form-group">
                        <label for="exampleInputEmail">Title</label>
                        <input type="text" class="form-control" name="title" id="title" placeholder="title">
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                        <input type="text" class="form-control" id="content" name="content" aria-describedby="emailHelp" placeholder="content">
                    </div>
                    <div class="form-group">
                        <label for="examplestatus">Status</label><br/>
                        <input type="checkbox" class="custom-control-input" name="status" id="defaultUnchecked" value="1"> Hiển thị
                        <input type="checkbox" class="custom-control-input" name="status" value="0"> Không
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <br/>
            </div>
            <br>
            <h5>Danh sách topic</h5>
            <div class="col-sm-4">
                aaa
            </div>
            <div class="col-sm-4">
                    aaa
            </div>
            <div class="col-sm-4">
                aaa
            </div>
        </div>
    </main>
    <footer>
        <% include ../../partials/footer %>
    </footer>
</body>
</html>